@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --highlight-color: rgb(217, 98, 98);
}

* {
    font-family: 'Jost', sans-serif;

}
h1{
    font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-track-piece {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
